@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    min-height:100vh;
    background-color: aquamarine;
}

.container{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 24.27vh;
    gap:1vh;
}

.cell{
    padding:0.5rem;
    color:white;
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 2rem;;
    background-color: rgb(179, 84, 55);
}

.cell:nth-child(8n + 1),
.cell:nth-child(8n + 3),
.cell:nth-child(8n + 6),
.cell:nth-child(8n + 8){
    background-color: rgb(55, 179, 158);
}